body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 3em 0;
  padding: 0;
 background-color:#d1eaeb;
}
img{
  content:url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-512.png");
  width:30px;
  height:27px;
}

ul {
    list-style-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-512.png');
}
.gray{
  color:#808080;
}

input{
  height:30px;
  width:300px;
}

.outer {
  margin: 0 auto;
  max-width: 900px;
}

.box {
  margin: 0 auto;
  max-width: 500px;
}

h4 {
  color:#808080;
}

.artist {
  color: #808080;
  text-transform: uppercase;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 35px;
  font-weight: 510;
  color: #000;
  /*line-height: 60px;*/
  text-transform: uppercase;
}

.received{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 35px;
  font-weight: 510;
  color: #000;
  text-transform: uppercase;
}

#dl {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: #000;	
  line-height: 60px;
  text-transform: uppercase;
  margin: 0 auto;
    /*background-color: #fff;*/
  border-width: 10px;
  border-style: double;
  padding: 10px 10px 10px;
}

#dt {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 800;
  margin-top: 60px;
  color: #000;	
  line-height: 60px;
  text-transform: uppercase;
}

.username{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 20px;
  color: #808080;
  text-transform: uppercase;

}

#artist_box{
  width: 75%;
  border: 1px solid gray;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: #000;	
  line-height: 60px;
  text-transform: uppercase;
  float: left;
}

#arrow_margin{
  margin-top: auto;
  margin-bottom: auto;
}


#select:hover {
  text-decoration: underline;
}
#select {
  font-size: 25px;
  font-weight: 600;
  text-align: right;
  color: #808080;
}

#arrow{
  float: left;
  vertical-align: middle;
  height: 60px;
  border: 0px;
}