<div id='container'>
	<div ng-controller="strangerController" >
			<div ng-if="stranger.name">
				<div class='box'>
					<p>Your stranger is: </p>
					<div class='username'>{{stranger.name}}</div> 
					<!-- music form -->

					<p>Send them a song:</p>  
					<input type="text" ng-model="title" ng-change="searchSong(title)" placeholder="Search for an song">
					  <ul>
					    <ul ng-repeat="song in songs" ng-click="sendSong(song)">
					        <div class="media-details">
					          {{song.name}}, <span class='artist'>{{song.artists[0].name}}</span>
					        </div>
					      </a>
					    </ul>
					  </ul>
					  <p>Received Songs: </p>
					  <h4>Click song to save to your Spotify Library</h4>

					  <ul ng-repeat="song in receivedSongs" ng-click="saveSong(song)">
					  	<div class="media-details">
					  	  {{song.name}}, <span class='artist'>{{song.artists[0].name}}</span>
					  	</div>
					  </ul>

				</div>
			</div>
			<div ng-if="!stranger.name">
				<div class="box" >
					<p>No match</p>
					<h2>Sorry no one shares your tastes.</h2>
				</div>
			</div>
	</div>
</div>


