<div id='container'>
	<div ng-controller="strangerController" >
			<div ng-if="stranger">
				<div class='box'>
					<p>Your stranger is: </p>
					<span class='username'>{{stranger.name}}</span> 
					<!-- music form -->
					<p>Send them a song</p>  
					<input type="text" ng-model="title" ng-change="searchSong(title)" placeholder="Search for an song">
					  <ul>
					    <ul ng-repeat="song in songs">
					        <div class="media-details">
					          {{song.name}}, <span class='artist'>{{song.artists[0].name}}</span>
					        </div>
					      </a>
					    </ul>
					  </ul>
				</div>
			</div>
			<div ng-if="!stranger">
				<div class="box" >
					<p>No match</p>
					<h2>Sorry no one shares your tastes.</h2>
				</div>
			</div>
	</div>
</div>


